<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NewsiMsgExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>iWatchNews (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>iWatchNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>462CD6151E3A98E1001ADB0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46D7F9C01E36633200A453E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46D7F9D71E36633200A453E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46D7F9E21E36633300A453E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843741C41EC60FB9000C32CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84B7E2291EBBD55C00763EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
